.sidenav{
  background: #263263;
  transition: all 1s ease-in-out;
  position: fixed;
  z-index: 1;
  top: 50px;
  width: 5rem;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.logo-containers{
  display: flex;
  align-items: center;
  /* padding: 0.5rem 0; */
  width: 100%;
}

.logo{
  background: white;
  text-align: center;
  min-width: 2rem;
  width: 3rem;
  border-radius: 5px;
  z-index: 2;
}


.sidenav-list{
  left: 50%;
  transform: translate;
  transition: all 1s ease-in-out;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .sidenav-list:active{
  transform: translate(-50%, 0);
} */

.sidenav-list-items{
  font-size: 20px;
  width: 100%;
  margin: 0 0.5rem;
  text-align: center;
  display: flex;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.sidenav-list-item-container{
  display: flex;
  align-items: center;
  padding: 1.5rem 1.25rem;
  margin: auto;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  font-size: 2em;
  width: 2rem;
  margin: 0 2rem 0 0;
  padding-right: 1rem;
  text-align: center;
}

.sidenav-list-item-container a{
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  color: inherit;
}

.sidenav:hover{
  width: 12rem;
  transition: width 0.2s ease-in-out;
}

.sidenav-list-items:hover{
  background-color: white;
  color: black;
}

.sidenav-list-items:active{
  background-color: aqua;
}
