.navBar{
  background: rgb(54, 54, 54);
  transition: all 0.3s ease-in-out;
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100vw;
  height: 50px;
  color: rgb(231, 228, 204);
}

.example-spacer {
  flex: 1 1 auto;
}

.WebTitle, mat-icon{
  margin: 0 1rem;
  cursor: pointer;
}

.example-icon{
  background-color: transparent;
  border: 0;
  color: beige;
  font-weight: 800;
}

mat-icon{
  cursor: pointer;
}
